*{
    margin: 0;
    padding: 0;
    font-family: nunito sans;
    
}
html{
    scroll-behavior: smooth;
}
.logo{
    margin-left: 96px;
}
.sub-nav{
    margin-left: 25px;
    
}
.sec1{
    height: 670px;
    width: 100%;
}
.main{
    
    height: 670px;
    background-image: url("images/Audimain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    
}
.main-head{
    padding-top: 60px;
    margin-left: 90px;
    font-size:40px;
    font-family: nunito sans;
    font-weight: 900;
}
.main-sub{
    width: 169px;
    color: white;
    background-color: black;
    margin-left: 90px;
   padding-left: 35px;
   padding-right: 10px;
   padding-top: 15px;
   height: 57px;
}
.sec2{
    width: 100%;
    height: 235px;
    background-color: #ffff;
}
.mod{
    font-weight: bolder;
}
.underline{
    width: 65px;
    height: 1px;
    background-color: black;
    position: relative;
    top: -13px;
}
.titlemod{
    margin-left: 50px;
    margin-top: 80px;
    letter-spacing: 3px;
}
.scroll{
    display: flex;
    height: 120px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}
.scroll::-webkit-scrollbar{
    height: 3px;
}
.scroll::-webkit-scrollbar-thumb{
    color: black;
    background-color: black;
}
.model1{
    height: 100px;
    width: 50px;
    margin-left: 10px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    
}
.model1:hover{
    transform: scale(1.1);
}
.button-outer{
    width: 80px;
    height: 40px;
    
    float: right;
    
}
.left-btn{
    width: 50%;
    height: 100%;
    float: left;
    
}
.right-btn{
    width: 50%;
    height: 100%;
    float: left;
    
    
}
.button-outer a{
    text-decoration: none;
}
.fa-chevron-left,.fa-chevron-right{
    color: black;
    font-size: 30px;
    margin-left: 8px;
    margin-top: 4px;
}
.img-outerbox{
    width: 100%;
    height: 300px;
    display: none;
}
.sec3{
    width: 100%;
    height: 740px;
    overflow-x: hidden;
}
.image-outer-sec3{
    width: 575px;
    height: 575px; 
}
.vshowroom{
    font-weight: bolder;
    letter-spacing: 2px;
}
.Explore-btn{
    border-style: solid;
    border-width: thin;
    width: 140px;
    color: white;
    background-color: black;
}
.sec4{
    width: 100%;
    height: 1150px;
}
.sec4main{
    height: 1150px;
    background-image: url(https://www.audi.in/content/dam/nemo/in/3_O-Homepage/E-tronHub-2878X3500.jpg?imwidth=1439);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.sec4-content{
    width: 610px;
    height: 350px;
    background-color: white;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    font-size: 20px;
}
.btn-hub{
    float: left;
    width: 130px;
    height: 50px;
    border-style: solid;
    border-width: thin;
    color: white;
    background-color: black;
    padding-left: 17px;
    padding-top: 8px;
}
.btn-hash{
    float: left;
    border-style: solid;
    border-width: thin;
}
.s4-content{
    height: 350px;
    max-width: 375px;
    
    position: relative;
    top: 200px;
    background-color: white;
    margin-left: 20px;
    padding-left: 25px;
    border-radius: 10px;
    opacity: .9;

}
.sec5{
    width: 100%;
    height: 110%;
}
.main5{
    width: 35%;
    height: 70%;
    background-color: red;
    margin-left: 10px;

}
.sec6{
    width: 100%;
    height: 100%;
}
.locate{
    color: white;
    background-color: black;
    

}
.btn-exp{
    border-style: solid;
    border-color: white;
    border-width: thin;
    width: 150px;
}
.sec7{
    width: 100%;
    height: 100%;
}
.myaudi{
    background-color: black;
}
.myaudi-c{
    color: white;
    font-size: 39px;
}
.btn-myaudi{
    border-style: solid;
    border-width: thin;
    border-color: white;
    width: 170px;
    color: white;
    float: left;
}
.sec8{
    width: 100%;
    height: auto;
    
}
.sec9{
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #ffff;
}

ul{
    list-style: none;
    color: white;
}
.footer{
    font-size: 13px;
    
}
.footer-line{
    width: 95%; 
    height: 1px; 
    background-color: white;
}